<div class="col-lg-8">
  <h1 class="h1-title" *ngIf="user">{{title + ' ' + user.name +' '+user.surname}}</h1>
  <div class="people" *ngIf="pages != 0; else noFollows">
    <!--Listado-->

    <div *ngFor="let follow of following" class="item-user">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="image-user pull-left">
            <a [routerLink]="['/perfil',follow.followed._id]">
              <img src="{{url + 'get-image-user/' + follow.followed.image}}" *ngIf="follow.followed.image" alt="avatar">
              <img src="assets/img/user.png" class="avatar-default" *ngIf="!follow.followed.image" alt="avatar">
            </a>
          </div>
          <div class="user-name pull-left">
            <p class="name-surname">
              <a [routerLink]="['/perfil',follow.followed._id]">
                {{follow.followed.name + ' ' + follow.followed.surname}}
              </a>
            </p>
            <p class="nickname">
              {{follow.followed.nick}}
            </p>
          </div>

          <!--SEGUIR DEJAR DE SEGUIR -->

          <div class="pull-right" *ngIf="follow.followed._id != identity._id">
            <button (click)="followUser(follow.followed._id)" class="btn btn-success" *ngIf="follows.indexOf(follow.followed._id) < 0">
              <span class="glyphicon glyphicon-plus-sign"></span>Seguir
            </button>
            <button class="btn btn-primary"
                    *ngIf="follows.indexOf(follow.followed._id) >= 0"
                    (mouseenter)="mouseEnter(follow.followed._id)"
                    (mouseleave)="mouseLeave(follow.followed._id)"
                    (click)="unfollowUser(follow.followed._id)"
                    [class.btn-danger]="follow.followed._id == followUserOver"
            >

              <span *ngIf="follow.followed._id == followUserOver; else following">
                <span class="glyphicon glyphicon-minus-sign"></span>
                Dejar de seguir
              </span>

              <ng-template #following>
                <span class="glyphicon glyphicon-ok-sign"></span>
                Siguiendo
              </ng-template>
            </button>
          </div>


        </div>
      </div>
    </div>

    <!--Paginacion-->

    <ul class="pagination pull-right">
      <li *ngIf="page > 1">
        <a [routerLink]="['/siguiendo',actualUserId,prev_page]">
          Anterior
        </a>
      </li>

      <li *ngIf="pages != page">
        <a [routerLink]="['/siguiendo',actualUserId,next_page]">
          Siguiente
        </a>
      </li>
    </ul>

  </div>
  <ng-template #noFollows>
    <div class="people">
      Este usuario no sigue a nadie.
    </div>
  </ng-template>
</div>
<app-sidebar></app-sidebar>
<div class="clearfix"></div>