<div class="col-lg-8">
  <h1 class="h1-title" *ngIf="user">{{title + ' ' + user.name +' '+user.surname}}</h1>
  <div class="people" *ngIf="pages != 0; else noFollows">
    <!--Listado-->

    <div *ngFor="let follow of following" class="item-user">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="image-user pull-left">
            <a [routerLink]="['/perfil',follow.user._id]">
              <img src="{{url + 'get-image-user/' + follow.user.image}}" *ngIf="follow.user.image" alt="avatar">
              <img src="assets/img/user.png" class="avatar-default" *ngIf="!follow.user.image" alt="avatar">
            </a>
          </div>
          <div class="user-name pull-left">
            <p class="name-surname">
              <a [routerLink]="['/perfil',follow.user._id]">
                {{follow.user.name + ' ' + follow.user.surname}}
              </a>
            </p>
            <p class="nickname">
              {{follow.user.nick}}
            </p>
          </div>

          <!--SEGUIR DEJAR DE SEGUIR -->

          <!--<div class="pull-right" *ngIf="follow.user._id != identity._id">-->
            <!--<button (click)="followUser(follow.user._id)" class="btn btn-success" *ngIf="following.indexOf(follow.user._id) < 0">-->
              <!--<span class="glyphicon glyphicon-plus-sign"></span>Seguir&#45;&#45;{{follow.user._id}}&#45;&#45;{{following[1].user._id}}&#45;&#45; {{following.indexOf(follow.user._id)}}-->
            <!--</button>-->
            <!--<button class="btn btn-primary"-->
                    <!--*ngIf="following.indexOf(follow.user._id) >= 0"-->
                    <!--(mouseenter)="mouseEnter(follow.user._id)"-->
                    <!--(mouseleave)="mouseLeave(follow.user._id)"-->
                    <!--(click)="unfollowUser(follow.user._id)"-->
                    <!--[class.btn-danger]="follow.user._id == followUserOver"-->
            <!--&gt;-->

              <!--<span *ngIf="follow.user._id == followUserOver; else following">-->
                <!--<span class="glyphicon glyphicon-minus-sign"></span>-->
                <!--Dejar de seguir-->
              <!--</span>-->

              <!--<ng-template #following>-->
                <!--<span class="glyphicon glyphicon-ok-sign"></span>-->
                <!--Siguiendo-->
              <!--</ng-template>-->
            <!--</button>-->
          <!--</div>-->


        </div>
      </div>
    </div>

    <!--Paginacion-->

    <ul class="pagination pull-right">
      <li *ngIf="page > 1">
        <a [routerLink]="['/seguidores',actualUserId,prev_page]">
          Anterior
        </a>
      </li>

      <li *ngIf="pages != page">
        <a [routerLink]="['/seguidores',actualUserId,next_page]">
          Siguiente
        </a>
      </li>
    </ul>

  </div>
  <ng-template #noFollows>
    <div class="people">
      Este usuario no sigue a nadie.
    </div>
  </ng-template>
</div>
<app-sidebar></app-sidebar>
<div class="clearfix"></div>