/* You can add global styles to this file, and also import other style files */

@import "~node_modules/angular-calendar/scss/angular-calendar";

/* Generales */
//*{
//  font-family: "Trebuchet MS", Helvetica, sans-serif;
//}

.h1-title{
  font-size: 35px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  margin-left: 13px;
}

.active{
  background: #9c1111 !important;
  border-bottom: 3px solid yellow;
}

/*Cabecera*/
.navigation{
  margin:0px !important;
  padding: 0px !important;
}

.navigation .navbar {
  .container-fluid{
    .navbar-nav{
      li{
        a{
          &:hover{
            background: #9c1111;
            cursor: pointer;
          }
        }
      }
    }
    .navbar-right{
      .avatar{
        width: 35px;
        height: 35px;
        border-radius: 100px;
        //lo que se salga del li se corta
        overflow:hidden;
        margin-top: 9px;
        margin-right: 2px;
        img{
          height: 100%;
          width: 38px;
        }
      }
    }
  }
  border-radius: 0px !important;
  background: #e53c37 !important;
  border: none;
}

.navigation .navbar *{
  color: #ffffff !important;
}
.navigation {
  .navbar{
    .dropdown-menu{
      li{
        a{
          color:black !important;
        }
        span{
          color:black !important;
        }
      }
    }
  }
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus{
  background: #9c1111 !important;
}
.navigation .navbar .dropdown-menu li a:hover{
  background: #eee !important;
}