<div class="col-lg-5">
  <h1 class="h1-title">{{title}}</h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
        Registro completado correctamente, <a [routerLink]="['/login']">identificate aquí</a>.
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        El registro no ha podido completarse, quizas el email o el nick ya están en uso.
    </div>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerFrom)" class="col-lg-12">

    <p>
      <label>Nombre</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
      <span *ngIf="!name.valid && name.touched">
        El nombre es obligatorio
      </span>
    </p>

    <p>
      <label>Apellidos</label>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
      <span *ngIf="!surname.valid && surname.touched">
            Los apellidos son obligatorios
          </span>
    </p>

    <p>
      <label>Nick</label>
      <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required />
      <span *ngIf="!nick.valid && nick.touched">
            El nick es obligatorio
          </span>
    </p>

    <p>
      <label>Correo electrónico</label>
      <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
      <span *ngIf="!email.valid && email.touched">
            El correo electrónico es obligatorio
          </span>
    </p>

    <p>
      <label>Contraseña</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
      <span *ngIf="!password.valid && password.touched">
            La contraseña es obligatoria
          </span>
    </p>

    <input type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!registerForm.form.valid">

  </form>
</div>