.item-user{
  .image-user{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 15px;
    img{
      width: 100%;
      height: 100%;
    }
    .avatar-default{
      width: 100% !important;
      height: 100%;
    }
  }
  .user-name{
    margin-top:10px;
    color:#337ab7;
    .nickname{
      color:#969393;
    }
    .name-surname{
      font-weight: bold;
    }
  }
}