<div class="col-lg-8">
  <h1 class="h1-title">
    {{title}}
  </h1>
  <div id="data-profile" *ngIf="user">
    <div class="avatar pull-left" *ngIf="user">
      <img src="{{url + 'get-image-user/' + user.image}}" *ngIf="user.image" alt="avatar">
      <img src="assets/img/user.png" *ngIf="!user.image" alt="avatar">
    </div>


    <div class="user-name pull-left">
      <div class="label label-default" *ngIf="followed">

        Te sigue

      </div>
      <div class="clearfix"></div>
      <div class="pull-left">
        <p class="name">{{user.name + ' ' + user.surname}}</p>
        <p class="nick">{{user.nick}}</p>
      </div>

      <div *ngIf="user._id != identity._id" class="follow">

        <button (click)="followUser(user._id)" class="btn btn-success" *ngIf="!following">
          Seguir
        </button>



        <button class="btn btn-primary"
                *ngIf="following"
                (mouseenter)="mouseEnter(user._id)"
                (mouseleave)="mouseLeave()"
                (click)="unfollowUser(user._id)"
                [class.btn-danger]="user._id == followUserOver"
        >

            <span *ngIf="user._id == followUserOver; else following">
              Dejar de seguir
            </span>

            <ng-template #following>
              Siguiendo
            </ng-template>
        </button>

      </div>
    </div>
    <div class="stats pull-left" *ngIf="stats">
      <div class="following-data">
        <a [routerLink]="['/siguiendo',user._id,1]">
        <span class="label-stats">
          Siguiendo
        </span>

          <span class="number-stats">
          {{stats.value.following}}
        </span>
        </a>
      </div>

      <div class="following-data">
        <a [routerLink]="['/seguidores',user._id,1]">
        <span class="label-stats">
          Seguidores
        </span>

          <span class="number-stats">
          {{stats.value.followed}}
        </span>
        </a>
      </div>

      <div class="following-data">
        <a>
        <span class="label-stats">
          Publicaciones
        </span>

          <span class="number-stats">
          {{stats.value.publications}}
        </span>
        </a>
      </div>
    </div>
    <div class="col-lg-12" *ngIf="user">
      <app-timeline [user]="user._id"></app-timeline>
    </div>



  </div>


</div>

<app-sidebar></app-sidebar>
<div class="clearfix"></div>