#data-profile{
  min-height: 500px;
  text-align: left;
    .stats{
    border-left: 4px solid #ccc;
    margin-left:4rem;
    padding-left:4rem;
    height: 180px;
    a{
      font-size: 20px;
      line-height: 4rem;
      color:#555;
    }
  }
  .avatar{
    border-radius:400px;
    overflow: hidden;
    width: 185px;
    height: 185px;
    margin-right: 15px;
  }
  img{
    width: 100%;
    height: 100%;
  }
  .user-name{
    padding-top:2rem;
    .label-default{
      margin-bottom:3rem;
    }
    .name{
      padding-top:1.5rem;
      font-size: 26px;
      font-weight: bold;
      color:#555;
    }
    .nick{
      font-size: 26px;
      color:gray;
    }
  }
}