<div class="col-lg-10">
  <h3>{{title}}</h3>

  <div class="people" *ngIf="messages">
    <!--Listado-->

    <div *ngFor="let message of messages" class="item-user">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="image-user pull-left">
            <a [routerLink]="['/perfil',message.emitter._id]">
              <img src="{{url + 'get-image-user/' + message.emitter.image}}" *ngIf="message.emitter.image" alt="avatar">
              <img src="assets/img/user.png" class="avatar-default" *ngIf="!message.emitter.image" alt="avatar">
            </a>
          </div>
          <div class="user-name pull-left">
            <p class="name-surname">
              <a [routerLink]="['/perfil',message.emitter._id]">
                {{message.emitter.name + ' ' + message.emitter.surname}}
              </a>
              |
              <span class="nickname">
              {{message.emitter.nick}}
            </span>
              |
              <span class="date">

              {{message.created_at | amFromUnix | amLocale:'es' | amTimeAgo}} |
                Enviado a <a [routerLink]="['/perfil',message.receiver._id]">{{message.receiver.name + ' ' + message.receiver.surname }}</a>
            </span>
            </p>

            <p>
              {{message.text}}
            </p>
          </div>


        </div>
      </div>
    </div>

    <!--Paginacion-->

    <ul class="pagination pull-right">
      <li *ngIf="page > 1">
        <a [routerLink]="['/mensajes/enviados',prev_page]">
          Anterior
        </a>
      </li>

      <li *ngIf="pages != page">
        <a [routerLink]="['/mensajes/enviados',next_page]">
          Siguiente
        </a>
      </li>
    </ul>
</div>