#user-card {

  padding: 2rem;
  width: 32.5%;
  .name-surname{
    font-weight: 300;
    font-size: 18px;
    a{
      color: #555;
    }
  }
  .stats{
    border-top:1px solid #eee;
    margin-top:1rem;
  }
  .label-stats{
    display: block;
    text-align: center;
    color:#555;
  }
  .number-stats{
    display: block;
    text-align: center;
    color: green;
  }
  .following-data{
    float: left;
    width: 33%;
    margin-top:1rem;
    border-right: 2px solid #ccc;
    a{
      font-weight: bold;
    }
  }
  .avatar{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;

    img{
      width: 100%;
      height: 100%;
    }
  }
}
#new-publication{
  width: 32.5%;
  padding: 2rem;
}
textarea.form-control{
  max-width: 120%;
  min-width: 120%;
  min-height: 100px;
}