<div class="col-lg-4">
  <h1 class="h1-title">{{title}}</h1>
</div>
<div id="user-card" class="col-lg-4 panel panel-default pull-left">

  <div class="avatar pull-left">
    <img src="{{ url + 'get-image-user/' + identity.image}}" *ngIf="identity.image" alt="avatar">
    <img src="assets/img/user.png" *ngIf="!identity.image" alt="avatar">
  </div>

  <div class="name-surname pull-left">
    <a [routerLink]="['/perfil',identity._id]" class="username">
      {{identity.name +' '+ identity.surname}}
    </a>
    <p class="nickname">{{identity.nick}}</p>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
  
  <div class="stats" *ngIf="stats">
    <div class="following-data">
      <a [routerLink]="['/siguiendo',identity._id,1]">
        <span class="label-stats">
          Siguiendo
        </span>

        <span class="number-stats">
          {{stats.value.following}}
        </span>
      </a>
    </div>

    <div class="following-data">
      <a [routerLink]="['/seguidores',identity._id,1]">
        <span class="label-stats">
          Seguidores
        </span>

        <span class="number-stats">
          {{stats.value.followed}}
        </span>
      </a>
    </div>

    <div class="following-data">
      <a [routerLink]="['/perfil',identity._id]">
        <span class="label-stats">
          Publicaciones
        </span>

        <span class="number-stats">
          {{stats.value.publications}}
        </span>
      </a>
    </div>
  </div>

</div>


<div id="new-publication" class="col-lg-4 pull-left panel panel-default">
  <h3>Crear publicación</h3>

  <div class="alert alert-success" *ngIf="status == 'success'">
    Publicación creada con exito
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Ha ocurrido un error al crear tu publicación
  </div>

  <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event);sendPublication($event);" class="col-lg-10">
    <p>
      <label>Publicación</label>
      <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" required></textarea>
      <span *ngIf="!text.valid && text.touched">
        El texto de la publicación es obligatorio
      </span>
    </p>

    <p>
      <label>Sube tu imagen</label>
      <input type="file" placeholder="Sube tu imagen" (change)="fileChangeEvent($event)" />
    </p>

    <input type="submit" value="Enviar" class="btn btn-primary" [disabled]="!newPubForm.form.valid">
  </form>
</div>