<div class="col-lg-5">
  <h1 class="h1-title">
    {{title}}
  </h1>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Ha ocurrido un error al actualizar los datos
  </div>
  <div class="alert alert-success" *ngIf="status == 'success'">
    Se han actualizado los datos correctamente
  </div>
  <form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">

    <p>
      <label>Nombre</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required class="form-control">
      <span *ngIf="!name.value && name.touched">
        El nombre no es válido
      </span>
    </p>

    <p>
      <label>Apellidos</label>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required class="form-control">
      <span *ngIf="!surname.value && surname.touched">
        Los apellidos no son validos
      </span>
    </p>

    <p>
      <label>Nick</label>
      <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required class="form-control">
      <span *ngIf="!nick.value && nick.touched">
        El nick no es válido
      </span>
    </p>

    <p>
      <label>Correo electrónico</label>
      <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" #email="ngModel" [(ngModel)]="user.email" required class="form-control">
      <span *ngIf="!email.value && email.touched">
        El correo electrónico no es válido
      </span>
    </p>

    <div *ngIf="user.image">
      <img src="{{url + 'get-image-user/' + user.image}}" alt="avatar">
    </div>
    <p>
      <label>Sube tu imagen</label>
      <input type="file" placeholder="Sube tu imagen" (change)="fileChangeEvent($event)" />
    </p>

    <input type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!userEditForm.form.valid">

  </form>
</div>