#publications{
  min-height: 500px;
  margin-top: 5rem;
  .item-publication{
    .panel-default{
      padding: 1rem;

      .date{
        color:gray;
      }

      .image-user{
        margin-right: 1rem;
        a{
          img{
            border-radius: 100px;
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }
}