<div class="col-lg-5">
  <h1 class="h1-strong">{{title}}</h1>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Email o contraseña erroneos
  </div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">

    <p>
      <label>Correo electrónico</label>
      <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
      <span *ngIf="!email.valid && email.touched">
        El correo electrónico es obligatorio
      </span>
    </p>

    <p>
      <label>Contraseña</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control"  required />
      <span *ngIf="!password.valid && password.touched">
        La contraseña es obligatoria
      </span>
    </p>

    <input type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!loginForm.form.valid">
  </form>
</div>
