<div class="col-lg-10">
  <h3>{{title}}</h3>

  <!--form enviar mensajes-->

  <div class="alert alert-success" *ngIf="status == 'success'">
    Se ha enviado correctamente tu mensaje
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Ha ocurrido un error al enviar el mensaje
  </div>

  <form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
    <p>
      <label>Para:</label>
      <!--Listado seguidores-->
      <select *ngIf="follows" name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver" class="form-control" required>
        <option *ngFor="let follow of follows" value="{{follow.user._id}}">
          {{follow.user.name + ' ' + follow.user.surname + ' (' + follow.user.nick +')'}}
        </option>
      </select>
    </p>

    <p>
      <label>Mensaje</label>
      <textarea name="text" #text="ngModel" [(ngModel)]="message.text" class="form-control" required></textarea>
      <span *ngIf="!text.valid && text.touched">

        El mensaje es obligatorio

      </span>
    </p>

    <input type="submit" value="{{title}}" class="btn btn-primary" />

  </form>
</div>