<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a [routerLink]="['/home']" class="navbar-brand">{{title}}</a>
      </div>

      <ul *ngIf="identity" class="nav navbar-nav">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-home">
              Inicio
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/publicaciones']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-th-list">
              Publicaciones
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/gente']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user">
              Gente
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/mensajes']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-envelope">
              Mensajes
            </span>
          </a>
        </li>


      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
        <li>
          <a [routerLink]="['/login']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-log-in">
              Identificate
            </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/registro']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user">
              Registrate
            </span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="identity">
        <li class="avatar">
          <img src="{{url + 'get-image-user/' + identity.image}}" *ngIf="identity && identity.image" alt="avatar">
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              {{identity.name}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['/perfil',identity._id]">
                <span class="glyphicon glyphicon-user"></span>
                Mi perfil
              </a>
            </li>
            <li>
              <a [routerLink]="['/calendario']">
            <span class="glyphicon glyphicon-calendar">

            </span>
                Mi calendario
              </a>
            </li>
            <li>
              <a [routerLink]="['/mis-datos']">
                <span class="glyphicon glyphicon-cog"></span>
                Mis datos
              </a>
            </li>
            <li>
              <a (click)="logout()">
                <span class="glyphicon glyphicon-log-out"></span>
                Cerrar sesión
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

</div>
    <router-outlet></router-outlet>
