<div class="col-lg-8">
  <h1 class="h1-title">
    {{title}}
    <button class="btn btn-default btn-sm" (click)="refresh($event)">Mostrar nuevas</button>
  </h1>




  <div id="publications">

    <div *ngFor="let publication of publications" class="item-publication">
      <div class="panel panel-default">
        <div class="image-user pull-left">
          <a [routerLink]="['/perfil',publication.user._id]">
            <img src="{{url + 'get-image-user/' + publication.user.image}}" *ngIf="publication.user.image" alt="avatar">
            <img src="assets/img/user.png" class="avatar-default" *ngIf="!publication.user.image" alt="avatar">
          </a>
        </div>
        <div class="panel-body">
          <div>
            <span class="user-name">
              {{publication.user.name + ' ' + publication.user.surname}}

            </span>
            |
            <span class="date">
              {{publication.created_at | amFromUnix | amLocale:'es' | amTimeAgo}}
            </span>
          </div>
          <div class="publication-text pull-left">
            <h4>{{publication.text}}</h4>
          </div>

          <!--borrar-->
          <div *ngIf="publication.user._id == identity._id" class="pull-right">
            <!-- Button HTML (to Trigger Modal) -->
            <a *ngIf="publication.user._id == identity._id"  href="#myModal{{publication._id}}" role="button" class="btn btn-danger" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></a>

            <!-- Modal HTML -->
            <div id="myModal{{publication._id}}" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">¿Seguro que quieres borrar la publicación?</h4>
                  </div>
                  <div class="modal-body">
                    <p>Si la borras no podras recuperarla</p>
                    <p>{{publication.text}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deletePublication(publication._id)">Borrar</button>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <!-- enesñar foto-->
          <div *ngIf="publication.file != 'null'">
            <button class="btn btn-warning pull-right" (click)="showThisImage(publication._id)" *ngIf="showImage != publication._id">
              <span class="glyphicon glyphicon-picture"></span>
            </button>

            <button class="btn btn-danger pull-right" (click)="hideThisImage(publication._id)" *ngIf="showImage == publication._id">
              <span class="glyphicon glyphicon-picture"></span>
            </button>
          </div>
          <div class="col-lg-12 text-center" *ngIf="publication.file != 'null'  && showImage == publication._id">
            <br /><img src="{{url + 'get-image-pub/' + publication.file}}" alt="">
          </div>
        </div>


      </div>

    </div>

  </div>

  <div class="col-lg-12 text-center" *ngIf="publications && publications.length">
    <p>
      <button *ngIf="!noMore" (click)="viewMore()" class="btn btn-primary">
        Ver más publicaciones
      </button>
    </p>
  </div>
</div>

<app-sidebar (sent)="refresh($event)"></app-sidebar>

<div class="clearfix"></div>